In [7]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [8]:
connection = sqlite3.connect('travel.sqlite')
cursor = connection.cursor()

In [11]:
cursor.execute("""select name from sqlite_master where type='table';""")
print("List of table present in the database")
table_list = [table[0] for table in cursor.fetchall()]
table_list

List of table present in the database

[]

In [12]:
aircrafts_data = pd.read_sql_query("select * from aircrafts_data",connection)
aircrafts_data.head()

DatabaseError: Execution failed on sql 'select * from aircrafts_data': no such table: aircrafts_data